body {
  padding: 50px 30px;
}

main {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  padding: 0;
}

.card {
  justify-self: center
}

.card-supervisor {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card-team {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.card-karma {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.card-calculator {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}